{% extends 'userhome.html' %}

{% block section %}

{% endblock %}

{% block about %}

<style>
    a:link
    {
        color:black;
    }
    
    a:hover
    {
        color:red;
    }
</style>


<br><br><br><br>
<center>
<h1><strong>NCERT SOLUTION SECTION!!!!!!!!!</strong></h1>
<br><br>
<table border="3" cellspacing="5" cellpadding="10">
    
    
    <tr>
        <th><center><strong><b>Class</b></strong></center></th>
        
        <th><center><strong><b>Subject</b></strong></center></th>
          
    </tr>
    

    <tr>
        
        <td>
            
            <img src="/media/1st.png" height="50" width="80" />
            <br><br><br><br><br>
            <img src="/media/2nd.png" height="50" width="80" />
            <br><br><br><br><br>
            <img src="/media/3rd.png" height="50" width="80" />
            <br><br><br><br><br>
            <img src="/media/4th.png" height="50" width="80" />
            <br><br><br><br><br>
            <img src="/media/5th.png" height="50" width="80" />
            <br><br><br><br><br><br>
            <img src="/media/6th.png" height="50" width="80" />
            <br><br><br><br><br><br><br>
            <img src="/media/7th.jpg" height="50" width="80" />
            <br><br><br><br><br><br><br><br>
            <img src="/media/8th.jpg" height="50" width="80" />
            <br><br><br><br><br><br>
            <img src="/media/9th.jpg" height="50" width="80" />
            <br><br><br><br><br><br><br><br><br>
            <img src="/media/10th.png" height="50" width="80" />
            <br><br><br><br><br><br>
        </td>

        

        <td>
            <br><br>
            <h3><a href="https://www.tiwariacademy.com/ncert-books/class-1/">1.Hindi</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-1-english/">2.English</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-1-maths/">3.Maths</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-1/">4.Evs</a></h3>
            
            <br><br>

            
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-2-hindi/">1.Hindi</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-2-english/">2.English</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-2-maths/">3.Maths</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-2/">4.Evs</a></h3>
            <br><br>
            

            <h3><a href="https://mycbseguide.com/blog/ncert-solutions-class-3-hindi/">1.Hindi</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-class-3-english/">2.English</a></h3>
            <h3><a href="https://www.freencertsolutions.com/ncert-solutions-for-class-3-math/">3.Maths</a></h3>
            <h3><a href="https://www.freencertsolutions.com/ncert-solutions-for-class-3-evs/">4.Evs</a></h3>
            <br><br>

            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-4-hindi/">1.Hindi</a></h3>
            <h3><a href="https://mycbseguide.com/blog/ncert-solutions-for-class-4-english/">2.English</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-4-mathematics/">3.Maths</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-4-evs/">4.Evs</a></h3>
            <br><br>

            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-5-hindi/">1.Hindi</a></h3>
            <h3><a href="https://schools.aglasem.com/ncert/ncert-solutions-class-5-english/">2.English</a></h3>
            <h3><a href="https://www.freencertsolutions.com/ncert-solutions-for-class-5-math/">3.Maths</a></h3>
            <h3><a href="https://www.extramarks.com/ncert-solutions-for-class-5-science">4.Science</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-5/">5.Social Science</a></h3>
            <br><br>

            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-6-hindi/">1.Hindi</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-6-english/">2.English</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-6-maths-solutions/">3.Maths</a></h3>
            <h3><a href="https://byjus.com/ncert-solutions-class-6-science/">4.Science</a></h3>
            <h3><a href="https://www.tiwariacademy.com/ncert-solutions/class-6/social-science/">5.Social Science</a></h3>
            <br><br><br>

            <h3><a href="https://www.tiwariacademy.com/ncert-solutions/class-7/hindi/">1.Hindi</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-7-english/">2.English</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-7-maths/">3.Maths</a></h3>
            <h3><a href="https://www.vedantu.com/ncert-solutions/ncert-solutions-class-7-science">4.Science</a></h3>
            <h3><a href="https://www.tiwariacademy.com/ncert-solutions/class-7/social-science/">5.Social Science</a></h3>
            <br><br><br>

            <h3><a href="https://www.tiwariacademy.com/ncert-solutions/class-8/hindi/">1.Hindi</a></h3>
            <h3><a href="https://www.topperlearning.com/ncert-solutions/cbse-class-8-english">2.English</a></h3>
            <h3><a href="https://www.tiwariacademy.com/ncert-solutions/class-8/maths/">3.Maths</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-8-science/">4.Science</a></h3>
            <h3><a href="https://www.tiwariacademy.com/ncert-solutions/class-8/social-science/">5.Social Science</a></h3>
            <br><br><br><br>

            <h3><a href="https://www.learncbse.in/ncert-solutions-class-9-hindi/">1.Hindi</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-class-9-english/">2.English</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-9-maths/">3.Maths</a></h3>
            <h3><a href="https://www.vedantu.com/ncert-solutions/ncert-solutions-class-9-science">4.Physics</a></h3>
            <h3><a href="https://www.vedantu.com/ncert-solutions/ncert-solutions-class-9-science">5.Biology</a></h3>
            <h3><a href="https://www.vedantu.com/ncert-solutions/ncert-solutions-class-9-science">6.Chemistry</a></h3>
            <h3><a href="https://www.tiwariacademy.com/ncert-solutions/class-9/social-science/">7.Social Science</a></h3>
            <br><br><br><br>


            <h3><a href="https://www.learncbse.in/ncert-solutions-class-10-hindi/">1.Hindi</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-10-english-literature/">2.English</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-class-10-math-solutions/">3.Maths</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-class-10-science/">4.Physics</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-class-10-science/">5.Biology</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-class-10-science/">6.Chemistry</a></h3>
            <h3><a href="https://www.learncbse.in/ncert-solutions-for-class-10/">7.Social Science</a></h3>
            

            

        </td>

       
    </tr>
</table>
</center>

    

{% endblock %}

{% block facts %}

{% endblock %}

{% block courses %}
 
{% endblock %}

{% block learn %}
  
{% endblock %} 

{% block contact %}

{% endblock %}

{% block footer %}

  <br><br><br><br><br><br>

              </div>
              <div class="copyright">
                <div class="container">
                    <p>Copyright © 2020-2021 Learning Hub </p>
                    <p> Designed and Developed By: Ajinkya Pradhan </a></p>
                </div>
              </div>
      </div>
    </footer>
  <!-- end footer -->
  {% endblock %}