{% extends 'userhome.html' %}

{% block section %}

{% endblock %}

{% block about %}

<style>
    a:link
    {
        color:black;
    }
    
    a:hover
    {
        color:red;
    }
</style>


<br><br><br><br>
<center>
<h1><strong>SUBJECT RELATED PRACTICE QUESTIONS SECTION!!!!!!!!!</strong></h1>
<br><br>
<table border="3" cellspacing="5" cellpadding="10">
    
    
    <tr>
        <th><center><strong><b>Class</b></strong></center></th>
        
        <th><center><strong><b>Subject</b></strong></center></th>
          
    </tr>
    

    <tr>
        
        <td>
            
            <img src="/media/1st.png" height="50" width="80" />
            <br><br><br><br><br>
            <img src="/media/2nd.png" height="50" width="80" />
            <br><br><br><br><br>
            <img src="/media/3rd.png" height="50" width="80" />
            <br><br><br><br><br>
            <img src="/media/4th.png" height="50" width="80" />
            <br><br><br><br><br>
            <img src="/media/5th.png" height="50" width="80" />
            <br><br><br><br><br><br>
            <img src="/media/6th.png" height="50" width="80" />
            <br><br><br><br><br><br><br>
            <img src="/media/7th.jpg" height="50" width="80" />
            <br><br><br><br><br><br><br><br>
            <img src="/media/8th.jpg" height="50" width="80" />
            <br><br><br><br><br><br>
            <img src="/media/9th.jpg" height="50" width="80" />
            <br><br><br><br><br><br><br><br><br>
            <img src="/media/10th.png" height="50" width="80" />
            <br><br><br><br><br><br>
        </td>

        

        <td>
            <br><br>
            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-1-hindi-mock-paper-1">1.Hindi</a></h3>
            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-1-english">2.English</a></h3>
            <h3><a href="https://www.studiestoday.com/sample-papers-mathematics-cbse-class-1-mathematics-sample-paper-set-214424.html">3.Maths</a></h3>
            <h3><a href="https://www.studiestoday.com/sample-papers-environmental-studies-cbse-class-1-evs-sample-paper-set-214113.html">4.Evs</a></h3>
            
            <br><br>

            
            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-2-hindi-mock-paper-1">1.Hindi</a></h3>
            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-2-english">2.English</a></h3>
            <h3><a href="https://www.studiestoday.com/sample-paper/557/mathematics.html">3.Maths</a></h3>
            <h3><a href="https://www.studiestoday.com/sample-papers-environmental-studies-cbse-class-2-evs-sample-paper-set-239464.html">4.Evs</a></h3>
            <br><br>
            

            <h3><a href="https://mycbseguide.com/downloads/cbse-class-03-hindi/1924/%E0%A4%AA%E0%A4%BF%E0%A4%9B%E0%A4%B2%E0%A5%87-%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%B6%E0%A5%8D%E0%A4%A8%E0%A4%AA%E0%A4%A4%E0%A5%8D%E0%A4%B0/24/">1.Hindi</a></h3>
            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-3-english">2.English</a></h3>
            <h3><a href="https://www.studiestoday.com/question-papers/565/mathematics.html">3.Maths</a></h3>
            <h3><a href="https://www.studiestoday.com/sample-papers-environmental-studies-cbse-class-3-evs-sample-paper-set-g-228985.html">4.Evs</a></h3>
            <br><br>

            <h3><a href="https://mycbseguide.com/downloads/cbse-class-04-hindi/1925/%E0%A4%AA%E0%A4%BF%E0%A4%9B%E0%A4%B2%E0%A5%87-%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%B6%E0%A5%8D%E0%A4%A8%E0%A4%AA%E0%A4%A4%E0%A5%8D%E0%A4%B0/24/">1.Hindi</a></h3>
            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-4-english">2.English</a></h3>
            <h3><a href="https://www.studiestoday.com/sample-paper/574/mathematics.html">3.Maths</a></h3>
            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-4-evs">4.Evs</a></h3>
            <br><br>

            <h3><a href="https://mycbseguide.com/downloads/cbse-class-05-hindi/1926/%E0%A4%AA%E0%A4%BF%E0%A4%9B%E0%A4%B2%E0%A5%87-%E0%A4%AA%E0%A5%8D%E0%A4%B0%E0%A4%B6%E0%A5%8D%E0%A4%A8%E0%A4%AA%E0%A4%A4%E0%A5%8D%E0%A4%B0/24/">1.Hindi</a></h3>
            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-5-english">2.English</a></h3>
            <h3><a href="https://www.studiestoday.com/sample-paper/586/mathematics.html">3.Maths</a></h3>
            <h3><a href="https://www.studiestoday.com/sample-paper/587/science.html">4.Science</a></h3>
            <h3><a href="https://www.studiestoday.com/question-papers/589/social-science.html">5.Social Science</a></h3>
            <br><br>

            <h3><a href="https://ncerthelp.com/text.php?ques=Last+Year+Question+Papers+Hindi+For+Class+6+Download+in+PDF">1.Hindi</a></h3>
            <h3><a href="https://school.edufever.com/cbse/class-6-english-sample-paper/">2.English</a></h3>
            <h3><a href="https://www.learncbse.in/cbse-sample-papers-class-6/">3.Maths</a></h3>
            <h3><a href="https://byjus.com/cbse-sample-paper-class-6-science/">4.Science</a></h3>
            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-6-social-science-mock-paper-1">5.Social Science</a></h3>
            <br><br><br>

            <h3><a href="https://www.studiestoday.com/question-papers/87/hindi.html">1.Hindi</a></h3>
            <h3><a href="https://www.studiestoday.com/sample-paper/86/english.html">2.English</a></h3>
            <h3><a href="https://www.learncbse.in/cbse-sample-papers-class-7/">3.Maths</a></h3>
            <h3><a href="https://byjus.com/cbse-sample-paper-for-class-7-science/">4.Science</a></h3>
            <h3><a href="https://www.studiestoday.com/question-papers/322/social-science.html">5.Social Science</a></h3>
            <br><br><br>

            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-8-hindi">1.Hindi</a></h3>
            <h3><a href="https://www.studiestoday.com/cbse-class-viii-8.html">2.English</a></h3>
            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-8-maths">3.Maths</a></h3>
            <h3><a href="https://www.careerlauncher.com/cbse-ncert/class-8/Science.html">4.Science</a></h3>
            <h3><a href="https://ncerthelp.com/text.php?ques=last+Year+Question+Papers+Social+Science+For+Class+8+Download+in+PDF%0D%0A">5.Social Science</a></h3>
            <br><br><br><br>

            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-9-hindi">1.Hindi</a></h3>
            <h3><a href="https://www.learncbse.in/solved-cbse-sample-papers-for-class-9-english-set-1/">2.English</a></h3>
            <h3><a href="https://byjus.com/cbse-sample-papers-for-class-9/">3.Maths</a></h3>
            <h3><a href="https://www.learncbse.in/cbse-sample-papers-for-class-9-science/">4.Physics</a></h3>
            <h3><a href="https://www.learncbse.in/cbse-sample-papers-for-class-9-science/">5.Biology</a></h3>
            <h3><a href="https://www.learncbse.in/cbse-sample-papers-for-class-9-science/">6.Chemistry</a></h3>
            <h3><a href="https://www.learncbse.in/cbse-sample-papers-class-9-social-science/">7.Social Science</a></h3>
            <br><br><br><br>


            <h3><a href="https://www.vedantu.com/sample-papers/cbse-sample-papers-for-class-10-hindi">1.Hindi</a></h3>
            <h3><a href="https://www.jagranjosh.com/articles-cbse-class-10-papers-1425540038-1">2.English</a></h3>
            <h3><a href="http://cbseacademic.nic.in/web_material/SQP/ClassX_2020_21/MathsStandard-SQP.pdf">3.Maths</a></h3>
            <h3><a href="http://cbseacademic.nic.in/web_material/SQP/ClassX_2020_21/Science-SQP.pdf">4.Physics</a></h3>
            <h3><a href="http://cbseacademic.nic.in/web_material/SQP/ClassX_2020_21/Science-SQP.pdf">5.Biology</a></h3>
            <h3><a href="http://cbseacademic.nic.in/web_material/SQP/ClassX_2020_21/Science-SQP.pdf">6.Chemistry</a></h3>
            <h3><a href="https://www.jagranjosh.com/articles/cbse-class-10-social-science-previous-years-question-papers-1519208076-1">7.Social Science</a></h3>
            

            

        </td>

       
    </tr>
</table>
</center>

    

{% endblock %}

{% block facts %}

{% endblock %}

{% block courses %}
 
{% endblock %}

{% block learn %}
  
{% endblock %} 

{% block contact %}

{% endblock %}

{% block footer %}

  <br><br><br><br><br><br>

              </div>
              <div class="copyright">
                <div class="container">
                    <p>Copyright © 2020-2021 Learning Hub </p>
                    <p> Designed and Developed By: Ajinkya Pradhan </a></p>
                </div>
              </div>
      </div>
    </footer>
  <!-- end footer -->
  {% endblock %}