{% extends 'master_template.html' %}

{% block nav %}
                  <nav class="main-menu ">
                    <ul class="menu-area-main">
                      <li class="active"> <a href="/user/">UserHome</a> </li>
                      <li> <a href="/user/books/">BuyBooks </a> </li>
                      <li> <a href="/user/addbooks/">SellBooks </a> </li>
                      <li> <a href="/user/practiceque/">Practice Que</a> </li>
                      <li> <a href="/user/videos/">Videos</a> </li>
                      <li> <a href="/user/paper/">Papers</a> </li>
                      <li> <a href="/user/ncertsolution/"><p>Ncert Soln</p></a> </li>
                      <li> <a href="/user/editprofileuser/">Profile</a> </li>
                      <li> <a href="/user/changepassworduser/">Password</a> </li>
                      <li> <a href="/login/">LogOut</a> </li>
                     </ul>
                  </nav>

                  <center>  
                    	
                  <b>
                    
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Welcome User  : {{sunm}}
                  
                  </b>
                  </center>
{% endblock %}

{% block section %}

{% endblock %}

{% block about %}
<br><br><br><br><br><br><br><br>
<center>
    <h1><strong><b><u>User Home</u></b></strong></h1>
    
    <br><br>
    
    <h3><i> <strong>Welcome to Learning Hub User Panel</strong></i></h3>
    </center>

{% endblock %}

{% block facts %}

{% endblock %}

{% block courses %}
 
{% endblock %}

{% block learn %}
  
{% endblock %} 

{% block contact %}

{% endblock %}

{% block footer %}

  <br><br><br><br><br><br>

              </div>
              <div class="copyright">
                <div class="container">
                    <p>Copyright © 2020-2021 Learning Hub </p>
                    <p> Designed and Developed By: Ajinkya Pradhan </a></p>
                </div>
              </div>
      </div>
    </footer>
  <!-- end footer -->
  {% endblock %}