{% extends 'userhome.html' %}

{% block section %}

{% endblock %}

{% block about %}

<style>
    a:link
    {
        color:black;
    }
    
    a:hover
    {
        color:red;
    }
</style>


<br><br><br><br>
<center>
<h1><strong>SUBJECT RELATED VIDEOS SECTION!!!!!!!!!</strong></h1>
<br><br>
<table border="3" cellspacing="5" cellpadding="10">
    
    
    <tr>
        <th><center><strong><b>Class</b></strong></center></th>
        
        <th><center><strong><b>Subject</b></strong></center></th>
          
    </tr>
    

    <tr>
        
        <td>
            
            <img src="/media/1st.png" height="50" width="80" />
            <br><br><br><br><br>
            <img src="/media/2nd.png" height="50" width="80" />
            <br><br><br><br><br>
            <img src="/media/3rd.png" height="50" width="80" />
            <br><br><br><br><br>
            <img src="/media/4th.png" height="50" width="80" />
            <br><br><br><br><br>
            <img src="/media/5th.png" height="50" width="80" />
            <br><br><br><br><br><br>
            <img src="/media/6th.png" height="50" width="80" />
            <br><br><br><br><br><br><br>
            <img src="/media/7th.jpg" height="50" width="80" />
            <br><br><br><br><br><br><br><br>
            <img src="/media/8th.jpg" height="50" width="80" />
            <br><br><br><br><br><br>
            <img src="/media/9th.jpg" height="50" width="80" />
            <br><br><br><br><br><br><br><br><br>
            <img src="/media/10th.png" height="50" width="80" />
            <br><br><br><br><br><br>
        </td>

        

        <td>
            <br><br>
            <h3><a href="https://mycbseguide.com/video/cbse-class-01-hindi/2606/">1.Hindi</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-01-english/2605/">2.English</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-01-mathematics/2607/">3.Maths</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-01-evs/2608/">4.Evs</a></h3>
            
            <br><br>

            
            <h3><a href="https://www.youtube.com/watch?v=iiiKCG22IRQ">1.Hindi</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-02-english/2601/">2.English</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-02-mathematics/2603/">3.Maths</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-02-evs/2604/">4.Evs</a></h3>
            <br><br>
            

            <h3><a href="https://www.youtube.com/watch?v=pvfZaelpCL8">1.Hindi</a></h3>
            <h3><a href="https://www.youtube.com/watch?v=_j1_1UUbVM4">2.English</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-03-mathematics/1655/">3.Maths</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-03-science/4532/">4.Evs</a></h3>
            <br><br>

            <h3><a href="https://www.youtube.com/watch?v=JLQwJCuzybU">1.Hindi</a></h3>
            <h3><a href="https://www.youtube.com/watch?v=Jy0OWM2cNUk">2.English</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-04-mathematics/1642/">3.Maths</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-04-social-science/4535/">4.Evs</a></h3>
            <br><br>

            <h3><a href="https://www.youtube.com/watch?v=o8VKaGLZP2Y">1.Hindi</a></h3>
            <h3><a href="https://www.youtube.com/watch?v=6MB5xpy40ro">2.English</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-05-mathematics/1627/">3.Maths</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-05-science/4536/">4.Science</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-05-social-science/4537/">5.Social Science</a></h3>
            <br><br>

            <h3><a href="https://www.topperlearning.com/cbse-class-6-videos/vyakran/idioms-and-proverbs/idioms-and-proverbs/76778">1.Hindi</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-06-english/1920/">2.English</a></h3>
            <h3><a href="https://www.topperlearning.com/cbse-class-6-videos/mathematics">3.Maths</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-06-science/1595/">4.Science</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-06-social-science/1570/">5.Social Science</a></h3>
            <br><br><br>

            <h3><a href="https://mycbseguide.com/video/cbse-class-07-%E0%A4%B9%E0%A4%BF%E0%A4%82%E0%A4%A6%E0%A5%80-(%E0%A4%B5%E0%A4%B8%E0%A4%82%E0%A4%A4-%E0%A4%94%E0%A4%B0-%E0%A4%AC%E0%A4%BE%E0%A4%B2-%E0%A4%AE%E0%A4%B9%E0%A4%BE%E0%A4%AD%E0%A4%BE%E0%A4%B0%E0%A4%A4-%E0%A4%95%E0%A4%A5%E0%A4%BE)/1922/">1.Hindi</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/English/Grammar.htm">2.English</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/Class-7/Maths.htm">3.Maths</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-07-science/1525/">4.Science</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-07-social-science/1544/">5.Social Science</a></h3>
            <br><br><br>

            <h3><a href="https://mycbseguide.com/video/cbse-class-08-%E0%A4%B9%E0%A4%BF%E0%A4%82%E0%A4%A6%E0%A5%80-(%E0%A4%B5%E0%A4%B8%E0%A4%82%E0%A4%A4-%E0%A4%94%E0%A4%B0-%E0%A4%AD%E0%A4%BE%E0%A4%B0%E0%A4%A4-%E0%A4%95%E0%A5%80-%E0%A4%96%E0%A5%8B%E0%A4%9C)/1921/">1.Hindi</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/English/Grammar.htm">2.English</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/Class-8/Maths.htm">3.Maths</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-08-science/1466/">4.Science</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-08-social-science/1485/">5.Social Science</a></h3>
            <br><br><br><br>

            <h3><a href="https://mycbseguide.com/video/cbse-class-09-hindi-a/1904/">1.Hindi</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/English/Grammar.htm">2.English</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/Class-9/Maths.htm">3.Maths</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/Class-9/Physics.htm">4.Physics</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/Class-9/Biology.htm">5.Biology</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/Class-9/Chemistry.htm">6.Chemistry</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-09-social-science/1895/">7.Social Science</a></h3>
            <br><br><br><br>


            <h3><a href="https://mycbseguide.com/video/cbse-class-10-hindi-a/1905/">1.Hindi</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/English/Grammar.htm">2.English</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/Class-10/Maths.htm">3.Maths</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/Class-10/Physics.htm">4.Physics</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/Class-10/Biology.htm">5.Biology</a></h3>
            <h3><a href="https://www.examfear.com/free-video-lesson/Class-10/Chemistry.htm">6.Chemistry</a></h3>
            <h3><a href="https://mycbseguide.com/video/cbse-class-10-social-science/1896/">7.Social Science</a></h3>
            

            

        </td>

       
    </tr>
</table>
</center>

    

{% endblock %}

{% block facts %}

{% endblock %}

{% block courses %}
 
{% endblock %}

{% block learn %}
  
{% endblock %} 

{% block contact %}

{% endblock %}

{% block footer %}

  <br><br><br><br><br><br>

              </div>
              <div class="copyright">
                <div class="container">
                    <p>Copyright © 2020-2021 Learning Hub </p>
                    <p> Designed and Developed By: Ajinkya Pradhan </a></p>
                </div>
              </div>
      </div>
    </footer>
  <!-- end footer -->
  {% endblock %}