{% extends 'userhome.html' %}


{% block section %}


{% endblock %}

{% block about %}
<br><br><br><br><br>
<center>
    <h3>Manage And Verify Your Products</h3>  
    
    <br><br>
        
    <table>
    <tr>
        <th>PID</th>
        <th><center>Title</center></th>
        <th><center>Catnm &nbsp;</center></th>
        <th><center>Base price</center></th>
        <th><center>Description</center></th>
        <th><center>Product Images</center></th>
        <th><center>Action</th>    
        </tr>    
        
        {% for row in pDetails %}
        <tr><td colspan="30"><hr></td></tr>
        <tr>
            <center>
        <td><center>{{row.pid}}</center></td>
        <td><center>{{row.title}}</center></td>    
        <td><center>{{row.subcatnm}}</center></td>
        <td><center>{{row.baseprice}}</center></td>
        <td><center>{{row.description}}</center></td>
        <td>
        <img src="{{media_url}}{{row.file1}}" height="50" width="50" />
        &nbsp;&nbsp;
        <img src="{{media_url}}{{row.file2}}" height="50" width="50" />
        &nbsp;&nbsp;
        <img src="{{media_url}}{{row.file3}}" height="50" width="50" />
        &nbsp;&nbsp;
        <img src="{{media_url}}{{row.file4}}" height="50" width="50" />
        &nbsp;&nbsp;
        
        </td>
    
        <td>
            {% if row.bstatus %}
            <font color="green">Product Verified</font>
            {% else %}
            <form action={{paypalURL}} method="post">
                <!-- Identify your business so that you can collect the payments. -->
                <input type="hidden" name="business" value={{paypalID}}>
                
                <!-- Specify a Buy Now button. -->
                <input type="hidden" name="cmd" value="_xclick">
                
                <!-- Specify details about the item that buyers will purchase. -->
                <input type="hidden" name="item_name" value={{row.pid}}>
                <input type="hidden" name="item_number" value=1>
                <input type="hidden" name="amount" value="50">
                <input type="hidden" name="currency_code" value="USD">
                
                <!-- Specify URLs -->
                <input type='hidden' name='cancel_return' value=http://localhost:8000/user/cancel/ >
                <input type='hidden' name='return' value=http://localhost:8000/user/payment/?pid={{row.pid}}&price=50&uid={{sunm}} >
                
                <!-- Display the payment button. -->
                <input type="image" name="submit" border="0"
                src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" alt="PayPal - The safer, easier way to pay online">
                <img alt="" border="0" width="1" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
            </form>
            {% endif %}
        </td>
    
        </center>
        </tr>
    
    {% endfor %}
    </table>
    
    </center>

{% endblock %}

{% block facts %}

{% endblock %}

{% block courses %}



 
{% endblock %}

{% block learn %}
  
{% endblock %} 

{% block contact %}

{% endblock %}

{% block footer %}

  <br><br><br><br><br><br>

              </div>
              <div class="copyright">
                <div class="container">
                    <p>Copyright © 2020-2021 Learning Hub </p>
                    <p> Designed and Developed By: Ajinkya Pradhan </a></p>
                </div>
              </div>
      </div>
    </footer>
  <!-- end footer -->
  {% endblock %}