{% extends 'master_template.html' %}

{% block nav %}
                  <nav class="main-menu ">
                    <ul class="menu-area-main">
                      <li class="active"> <a href="/myadmin/">AdminHome</a> </li>
                      <li> <a href="/myadmin/addclass/">Add Class </a> </li>
                      <li> <a href="/myadmin/addsubject">Add Subjects</a> </li>
                      <li> <a href="/myadmin/addstate">Add STate</a> </li>
                      <li> <a href="/myadmin/addcity">Add City</a> </li>
                      <li> <a href="/myadmin/manageusers/">Manage Users</a> </li>
                      <li> <a href="/login/">LogOut</a> </li>
                     </ul>
                  </nav>
{% endblock %}

{% block section %}

{% endblock %}

{% block about %}
<br><br><br><br><br><br><br><br>
<center>
    <h1><strong><b><u>Admin Home</u></b></strong></h1>
    
    <br><br>
    
    <h3><i> <strong>Welcome to Learning Hub Adnin Panel</strong></i></h3>
    </center>

{% endblock %}

{% block facts %}

{% endblock %}

{% block courses %}
 
{% endblock %}

{% block learn %}
  
{% endblock %} 

{% block contact %}

{% endblock %}

{% block footer %}

  <br><br><br><br><br><br>

              </div>
              <div class="copyright">
                <div class="container">
                    <p>Copyright © 2020-2021 Learning Hub </p>
                    <p> Designed and Developed By: Ajinkya Pradhan </a></p>
                </div>
              </div>
      </div>
    </footer>
  <!-- end footer -->
  {% endblock %}