{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <!-- basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- mobile metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <!-- site metas -->
  <title>Learning Hub</title>
  <link href="{% static 'images/hub3.jpg' %}" rel="icon"/>


  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- fevicon -->
  
  <!-- bootstrap css -->
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <!-- style css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Responsive-->
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">  
  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
  <!-- Tweaks for older IEs-->
  
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<!-- body -->

<body class="main-layout">

  
  
  {% block header %}
  <!-- header -->
  <header>
    {% block header_inner %}
    <!-- header inner -->
    <div class="header-top">

      <div class="header">

        <div class="container-fluid">

          <div class="row">

            <div class="col-xl-2 col-lg-4 col-md-4 col-sm-3 col logo_section">

              <div class="full">

                <div class="center-desk">

                  <div class="logo">
                    <a href=""><img src="{% static 'images/hub4.png' %}" alt="#" /></a>
                  </div>

                </div>

              </div>

            </div>

            <div class="col-xl-10 col-lg-8 col-md-8 col-sm-9">

              <div class="header_information">

               <div class="menu-area">

                <div class="limit-box">
                    {% block nav %}
                  <nav class="main-menu ">
                    <ul class="menu-area-main">
                      <li class="active"> <a href="/">Home</a> </li>
                      <li> <a href="/about/">About </a> </li>
                      <li> <a href="/service/">Services</a> </li>
                      <li> <a href="/contact/">Contact</a> </li>
                      <li> <a href="/register/">Register</a> </li>
                      <li> <a href="/login/">Login</a> </li>
                     </ul>
                  </nav>
                  {% endblock %}

                </div> 

              </div> 

            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- end header inner -->
    {% endblock %}

    <!-- end header -->
    {% block section %}
    <section class="slider_section">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="carousel-item active">

              <div class="container-fluid padding_dd">

                <div class="carousel-caption">

                  <div class="row">

                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">

                      <div class="text-bg">
                        <h1>knowledge is the way to achieve immortality</h1>
                        <p>GAIN KNOWLEDGE THE BEST WAY YOU CAN</p>
                        <a href="#">Read more</a> <a href="#">Know More</a>
                      </div>

                    </div>

                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">

                      <div class="images_box">

                        <figure><img src="{% static 'images/hub2.png' %}"></figure>

                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>


            <div class="carousel-item">

              <div class="container-fluid padding_dd">

                <div class="carousel-caption">

                  <div class="row">

                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">

                      <div class="text-bg">
                        <h1>Knowledge is of no value unless you put it into practice</h1>
                        <p>GAIN KNOWLEDGE THE BEST WAY YOU CAN</p>
                        <a href="#">Read more</a><a href="#">Know More</a>
                      </div>

                    </div>

                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">

                      <div class="images_box">
                        <figure><img src="{% static 'images/hub2.png' %}"></figure>
                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>


            <div class="carousel-item">

              <div class="container-fluid padding_dd">
              
                <div class="carousel-caption ">
                
                  <div class="row">
                  
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                    
                      <div class="text-bg">
                        <h1>Knowledge is of no value unless you put it into practice</h1>
                        <p>GAIN KNOWLEDGE THE BEST WAY YOU CAN</p>
                        <a href="#">Read more</a> <a href="#">Know More</a>
                      </div>

                    </div>

                    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                   
                      <div class="images_box">
                        <figure><img src="{% static 'images/hub2.png' %}"></figure>
                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>
      </div>

      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      </div>

    </section>
    {% endblock %}
      </div>
  </header>
  {% endblock %}

  {% block about %}
  <!-- about  -->
  <div id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="about-box">
            <h2>About <strong class="yellow"></strong></h2>
            <p><h3><b>Learning Hub provides everything for the students of class 1st to 10th<br><br>
                      You Have Ncert Solutions <br>
                      Facility to purchase & sell books online<br>
                      Option to check previous year papers<br>
                      Option to Check out videos for respective Chapters<br>
                      Option to check the sample answer sheets<br>
                      And Much More...........<br>
                  </b></h3></p>
            <a href="Javascript:void(0)">Read more</a>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="about-box">
            <figure><img src="{% static 'images/about.jpg' %}" alt="#" /></figure>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- end abouts -->
  {% endblock %}


  {% block facts %}
  <!-- our -->
  <div id="important" class="important">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2>Some <strong class="yellow">important facts</strong></h2>
            <span>luptatum. Libero eligendi molestias iure error animi totam laudantium, aspernatur similique id eos a
            t consectetur illo culpa,</span>
          </div>
        </div>
      </div>
    </div>
    <div class="important_bg">
      <div class="container">
        <div class="row">

          <div class="col col-xs-12">
            <div class="important_box">
              <h3>200+</h3>
              <span>Teachers</span>
            </div>
          </div>
          <div class="col col-xs-12">
            <div class="important_box">
              <h3>20+</h3>
              <span>Colleges</span>
            </div>
          </div>
          <div class="col col-xs-12">
            <div class="important_box">
              <h3>50+</h3>
              <span>Courses</span>
            </div>
          </div>
          <div class="col col-xs-12">
            <div class="important_box">
              <h3>200+</h3>
              <span>Members</span>
            </div>
          </div>
          <div class="col col-xs-12">
            <div class="important_box">
              <h3>10+</h3>
              <span>countries</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- end our -->
  {% endblock %}

  {% block courses %}
  <!-- Courses -->
  <div id="courses" class="Courses">
    <div class="container-fluid padding_left3">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="box_bg">
            <div class="box_bg_img">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="box_my">
                    <figure><img src="{% static 'images/my1.jpg' %}"></figure>
                    <div class="overlay">
                      <h3>Knowledge</h3>
                      <p>Knowledge with content is the key to success. The More knowledge you gain, the more success you achieve</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="box_my">
                    <figure><img src="{% static 'images/my2.jpg' %}"></figure>
                    <div class="overlay">
                      <h3>Variety</h3>
                      <p>Content from variety of sources , cherishes and enhances your knowledge</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="box_my">
                    <figure><img src="{% static 'images/my3.jpg' %}"></figure>
                    <div class="overlay">
                      <h3>Skills</h3>
                      <p>Knowledge and Skills combine to give you the perfect taste of victory</p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                  <div class="box_my">
                    <figure><img src="{% static 'images/my4.jpg' %}"></figure>
                    <div class="overlay">
                      <h3>Teaching Science</h3>
                      <p>Methods that are by the Teachers, but completely for a student</p>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 border_right">
          <div class="box_text">
            <div class="titlepage">
              <h2>Our <strong class="yellow">Services</strong></h2>
            </div>
            <p>We provide Knowledge to a student not only through a bookish way, but through practical and advanced methods that suits a student . And makes him comfortable with the content with which he is dealing with. He falls in love with what he wants to study. Making a student grasp concept effectively and practically is the base for shaping the minds of a child, that we strive to do perfectly</p>
            <a href="Javascript:void(0)">Read more</a>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <!-- end Courses -->
  {% endblock %}

  {% block learn %}
  <!-- learn -->


  <div id="learn" class="learn">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2>Learn <strong class="yellow">the Practical way</strong></h2>
            <span>Learn the best way you can, The practical way</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="learn_box">
            <figure><img src="{% static 'images/img.jpg' %}" alt="img"/></figure>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- MAKE --> 
  <div class="make">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="titlepage">
            <h2>Make Your <strong class="white_colo">Knowledge Standout</strong></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
          <div class="make_text">
            <p>Practical knowledge is very important to understand how things actually work. As it occurs and develops in those concrete situations where it is learnt, it is contextual and social in nature and helps you acquire the specific techniques that become the tools of your trade.
            </p>
            <a href="Javascript:void(0)">Start Now</a>
          </div>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
          <div class="make_img">
            <figure><img src="{% static 'images/make_img.jpg' %}"></figure>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end MAKE --> 

  <!-- end learn -->
  {% endblock %} 

  {% block contact %}
  <!-- contact -->
  <div id="contact" class="contact">
    <div class="container-fluid padding_left2">
      <div class="white_color">
        <div class="row">

          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div id="map">
            </div>

          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

            <form class="contact_bg">
              <div class="row">
                <div class="col-md-12">
                  <div class="titlepage">
                    <h2>Contact <strong class="yellow">us</strong></h2>
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Your Name" type="text" name="Your Name">
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Your Email" type="text" name="Your Email">
                  </div>
                  <div class="col-md-12">
                    <input class="contactus" placeholder="Your Phone" type="text" name="Your Phone">
                  </div>
                  <div class="col-md-12">
                    <textarea class="textarea" placeholder="Message" type="text" name="Message"></textarea>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <button class="send">Send</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end contact -->
  {% endblock %}

  {% block footer %}

  <!--  footer -->
    <footer>
      <div class="footer ">
        <div class="container">
          <div class="row">

            <div class="col-md-12">
              <form class="news">
                <input class="newslatter" placeholder="Email" type="text" name=" Email">
                <button class="submit">Subscribe</button>
              </form>
            </div>
            <div class="col-md-12">
              <h2>Newsletter</h2>
              <span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in  </span>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
              <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                  <div class="address">
                    <h3>Contact us </h3>
                        <ul class="loca">
                          <li>
                            <a href="#"><img src="{% static 'icon/loc.png' %}" alt="#" /></a>London 145
                            <br>United Kingdom 
                          </li>
                          <li>
                          <a href="#"><img src="{% static 'icon/email.png' %}" alt="#" /></a>demo@gmail.com 
                          </li>
                          <li>
                            <a href="#"><img src="{% static 'icon/call.png' %}" alt="#" /></a>+12586954775 
                          </li>
                        </ul>
                        <ul class="social_link">
                          <li><a href="#"><img src="{% static 'icon/fb.png' %}"></a></li>
                          <li><a href="#"><img src="{% static 'icon/tw.png' %}"></a></li>
                          <li><a href="#"><img src="{% static 'icon/lin(2).png' %}"></a></li>
                          <li><a href="#"><img src="{% static 'icon/instagram.png' %}"></a></li>
                        </ul>

                  </div>
                </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="address">
                          <h3>Courses</h3>
                          <ul class="Menu_footer">
                            <li class="active"> <a href="#">Masters Degree</a> </li>
                            <li><a href="#">Post GraduateU</a> </li>
                            <li><a href="#">Ndergraduate</a> </li>
                            <li><a href="#">Engineering</a> </li>
                            <li><a href="#">Ph.D Degree</a> </li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="address">
                          <h3>Information</h3>
                          <ul class="Links_footer">
                            <li class="active"><a href="#">Campus Tour</a> </li>
                            <li><a href="#">Student Lifes</a> </li>
                            <li><a href="#">Cholarship</a> </li>
                            <li><a href="#"> Admission</a> </li>
                            <li><a href="#">Leadership</a> </li>
                          </ul>
                        </div>
                      </div>

                      <div class="col-lg-3 col-md-6 col-sm-6 ">
                        <div class="address">
                          <a href="index.html"> <img src="{% static 'images/logo1.jpg' %}" alt="logo"></a>
                        </div>
                      </div>
                    </div>
            </div>

          </div>

              </div>
              <div class="copyright">
                <div class="container">
                  <p>Copyright © 2020-2021 Learning Hub 
                    Designed and Developed By: Ajinkya Pradhan </a></p>
                </div>
              </div>
      </div>
    </footer>
  <!-- end footer -->
  {% endblock %}

  <!-- Javascript files-->
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
  <script src="{% static 'js/plugin.js' %}"></script>
  <!-- sidebar -->
  <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  


          



</body>

</html>